<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
body {
  background-color: #66d9ff;
}
a:link, a:visited {
  background-color: yellow;
  color: black;
   border: 4px solid black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

</style>
  </head>
<body ng-app="">
<h2> Level Three Quiz: </h2> 
<h3> List of words:   </h3>
<ul>
<li>  concentrate      </li>
<li>  announcement      </li>
<li>  shallow      </li>
<li>  immediately      </li>
<li>  confused      </li>
<li>  difficult      </li>
</ul>
<form>
 Paul needs to do well on his spelling test for next week. Since the words are more 
 <select ng-model="wordOne">
      <option value="">
    <option value="first"> concentrate
    <option value="second"> announcement
    <option value="third"> shallow
    <option value="fourth"> immediately
    <option value="fifth"> confused
    <option value="sixth"> difficult	
 </select>
 ,
 </form>
 <div ng-switch="wordOne">
  <div ng-switch-when="sixth">
     <div class="alert alert-success">
    <strong>CORRECT!</strong> 
  </div>
  </div>
  <div ng-switch-when="first">
    <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="second">
    <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="third">
    <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="fourth">
      <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="fifth">
    <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
 </div>
 <form>
 he needs to
 <select ng-model="wordTwo">
    <option value="">
    <option value="first"> concentrate
    <option value="second"> announcement
    <option value="third"> shallow
    <option value="fourth"> immediately
    <option value="fifth"> confused
    <option value="sixth"> difficult
 </select>
 , and study hard to do well on the test.
 </form>
   <div ng-switch="wordTwo">
   <div ng-switch-when="first">
 <div class="alert alert-success">
    <strong>CORRECT!</strong> 
  </div>
  </div>
  <div ng-switch-when="second">
   <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="third">
     <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="fourth">
     <div class="alert alert-danger">
    <strong>Try again!</strong>
  </div> 
  </div>
  <div ng-switch-when="fifth">
     <div class="alert alert-danger">
    <strong>Try again!</strong>
  </div> 
  </div>
    <div ng-switch-when="sixth">
      <div class="alert alert-danger">
    <strong>Try again!</strong>
  </div>
  </div> 
</div>
<form>
 Since the pool is deep, Bobby and John need to go in the
<select ng-model="wordThree">
    <option value="">
    <option value="first"> concentrate
    <option value="second"> announcement
    <option value="third"> shallow
    <option value="fourth"> immediately
    <option value="fifth"> confused
    <option value="sixth"> difficult
</select>
 end because it's safer.
 </form>
 <div ng-switch="wordThree">
  <div ng-switch-when="third">
     <div class="alert alert-success">
    <strong>CORRECT!</strong> 
  </div>
  </div>
  <div ng-switch-when="first">
        <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="second">
        <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="fourth">
        <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="fifth">
        <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="sixth">
        <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
 </div>
 <form>
 All of the students in Miss Denver's class ran
<select ng-model="wordFour">
    <option value="">
    <option value="first"> concentrate
    <option value="second"> announcement
    <option value="third"> shallow
    <option value="fourth"> immediately
    <option value="fifth"> confused
    <option value="sixth"> difficult
</select>
 out of the door when the fire alarm rang for the fire drill.
 </form>
  <div ng-switch="wordFour">
    <div ng-switch-when="fourth">
   <div class="alert alert-success">
    <strong>CORRECT!</strong> 
  </div>
  </div>
  <div ng-switch-when="first">
	<div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="second">
	<div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="third">
	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="fifth">
	<div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="sixth">
	<div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  </div>
  <form>
 Principal Bleakman made an important 
<select ng-model="wordFive">
    <option value="">
    <option value="first"> concentrate
    <option value="second"> announcement
    <option value="third"> shallow
    <option value="fourth"> immediately
    <option value="fifth"> confused
    <option value="sixth"> difficult
</select>
 about the safety rules of the fire drill.
 </form>
 <div ng-switch="wordFive">
   <div ng-switch-when="second">
       <div class="alert alert-success">
    <strong>CORRECT!</strong> 
  </div>
  </div>
  <div ng-switch-when="first">
    	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="third">
    	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="fourth">
    	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="fifth">
    	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="sixth">
    	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
 </div>
 <form>
 Lots of the kids in Miss Denver's class were
<select ng-model="wordSix">
    <option value="">
    <option value="first"> concentrate
    <option value="second"> announcement
    <option value="third"> shallow
    <option value="fourth"> immediately
    <option value="fifth"> confused
    <option value="sixth"> difficult
</select>
 about the long division problems, but after Mr. Cortez helped the students out, they got the hang of it.
</form>
 <div ng-switch="wordSix">
  <div ng-switch-when="fifth">
	 <div class="alert alert-success">
    <strong>CORRECT!</strong> 
  </div>
  </div>
  <div ng-switch-when="first">
	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="second">
	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="third">
	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
  <div ng-switch-when="fourth">
	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
    <div ng-switch-when="sixth">
	 <div class="alert alert-danger">
    <strong>Try again!</strong> 
  </div>
  </div>
 </div>
<p>Do you want to move on to 4th grade vocabulary words? Click HERE:</p>	
<a href="fourthV.html"> <b>Fourth grade vocab</b></a>
<p>Do you want to go back to 2nd grade vocabulary words? Click HERE:</p>	
<a href="secondV.html"> <b>Second Grade Vocab</b></a>
<p> To go back to the  vocab level testing menu, click HERE:</p>
<a href="vocabHome.html"> <b>Vocab Level Testing Selection </b> </a>
<p> To go back to home, click HERE: </p>
<a href="index.html">  <b>HOME </b> </a>
</body>
</html>